.nav__element {
    display:inline;
    margin:10px;
    font-size: 16px;
}

.nav__link {
    color:white;
    text-decoration: none;
    margin: 10px;
    font-size: 16px;
}

.nav__link:hover {
    color:pink;
    font-weight: bold;
    border-bottom: 2px solid;
}
